@media (min-width: 1199px) {
    .com-bor-btn,
    .cmn-btn-blue {
        padding: 10px 30px;
    }
    .home-slider.owl-theme .owl-dots {
        left: 16%;
    }
    .h-banner {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 97%);
           min-height: calc(100vh - 90px);
    }
    .h-banner .banner-title {
        font-size: 70px;
    }
}

@media (min-width: 992px) and (max-width: 1367px) {
    .home-slider.owl-theme .owl-dots {
        left: 10%;
    }
}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .com-bor-btn,
    .cmn-btn-blue {
        font-size: 14px;
        padding: 8px 20px;
    }
    .title {
        font-size: 16px;
    }
    .s-heading {
        font-size: 30px;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    /* common css */
    /* home-slider */
    .banner-heading {
        padding-left: 45px;
    }
}


/* Mobile Layout: 320px. */

@media (max-width: 767px) {
    .com-bor-btn,
    .cmn-btn-blue {
        font-size: 13px;
    }
    .t18,
    .title {
        font-size: 15px;
    }
    .s-heading {
        font-size: 22px;
    }
    .single-comic {
        padding: 20px 20px;
    }
    .sec-margin-top {
        margin-top: 30px;
    }
    /* fav book */
    .fav-book .fav-content .book-title {
        position: relative;
        margin-top: -35px;
    }
}


/* Wide Mobile Layout: 480px. */

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 575px) {
    .f-row-reverse {
        flex-direction: column-reverse;
    }
}