@media (min-width: 1199px) {
    .process .checkout-btn .yellow-btn,
    .com-bor-btn,
    .cmn-btn-red {
        padding: 10px 30px;
    }
    .home-slider.owl-theme .owl-dots {
        left: 16%;
    }
    .h-banner {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 97%);
        min-height: calc(100vh - 90px);
    }
    .h-banner .banner-title {
        font-size: 70px;
    }
    .about-des {
        padding-left: 50px;
    }
     .process .terms label br{
         display: block;
    }
}

@media (min-width: 992px) and (max-width: 1367px) {
    .home-slider.owl-theme .owl-dots {
        left: 10%;
    }
    .t18 {
        font-size: 15px;
    }
    .price-wrap label {
        font-size: 15px;
    }
}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1200px) {
   
}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .com-bor-btn,
    .cmn-btn-red {
        font-size: 14px;
        padding: 8px 20px;
    }
    .title {
        font-size: 16px;
    }
    .s-heading {
        font-size: 30px;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    /* common css */
    /* home-slider */
    .banner-heading {
        padding-left: 45px;
    }
    .login-page img.shape-img-1 {
        display: none;
    }
    .login.pt-120 {
        padding-top: 35px;
    }
    .login-page img.shape-img {
        width: 50%;
    }
    .spder2-lgo,
    .spi-lgo {
        display: none;
    }
    .pt-70 {
        padding-top: 30px;
    }
    .log-t {
        font-weight: 600;
        font-size: 30px;
        color: #231F20;
    }
    .log-s-t p {
        font-size: 15px;
        line-height: 20px;
    }
    .login-wrapper .mb-25 {
        margin-bottom: 15px;
    }
    .log-s-t {
        padding-bottom: 0px;
    }
    .l-lgo img {
        max-width: 120px;
    }
    .validation input {
        width: 45px;
    }
    .validation {
        gap: 15px;
        padding: 10px 0px;
    }
    .e-email-a {
        padding: 10px 0px;
    }

    
}


/* Mobile Layout: 320px. */

@media (max-width: 767px) {
    .com-bor-btn,
    .cmn-btn-red {
        font-size: 13px;
    }
    .t18,
    .title {
        font-size: 15px;
    }
    .s-heading {
        font-size: 22px;
    }
    .single-comic {
        padding: 20px 20px;
    }
    .sec-margin-top {
        margin-top: 30px;
    }
    /* fav book */
    .fav-book .fav-content .book-title {
        position: relative;
        margin-top: -35px;
    }
    /* .single-comic */
    .slick-prev {
        left: 8px;
    }
    .slick-next {
        right: 8px;
    }
    .validation input {
        width: 35px;
    }
}


/* Wide Mobile Layout: 480px. */

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 320px) and (max-width: 575px) {
    .f-row-reverse {
        flex-direction: column-reverse;
    }
}