    .h-banner .banner-title {
        font-weight: 600;
        font-size: 18px;
        color: var(--white);
        line-height: 1.5;
    }
    
    .h-banner .banner-title>span {
        display: block;
        color: var(--white);
    }
    
    .home-slider.owl-theme .owl-dots {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: 4%;
    }
    
    .home-slider.owl-theme .owl-dots .owl-dot {
        display: block;
    }
    /*
==========================================
  comic CSS
==========================================
*/
    
    .single-comic {
        text-align: center;
        padding: 20px 20px;
        background: var(--white);
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        border: 1px solid transparent;
        position: relative;
        overflow: hidden;
        z-index: 11;
    }
    
    .comic-wrapper .single-comic .book-title {
        position: relative;
        margin-top: -35px;
    }
    
    .single-comic.active,
    .single-comic:hover {
        border: 1px solid #FE3C3A;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }
    /*
    ==========================================
    fav-book CSS
    ==========================================
    */
    
    .fav-book {
        background: linear-gradient(180deg, #FE3C3A 0%, #A31413 100%);
        clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    .fav-book .fav-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fav-book .fav-content .book-title .title {
        color: var(--white);
    }
    /* arrival */
    
    .arrival-wrapper .single-comic.active .bg-overlay,
    .arrival-wrapper .single-comic:hover .bg-overlay {
        right: 0;
        bottom: 0;
        opacity: 1;
        transform: scale(10) translateZ(0);
    }
    
    .img-hover-bg {
        display: inline-block;
        position: relative;
        overflow: hidden;
        z-index: 111;
        margin-bottom: 20px;
    }
    
    .arrival-wrapper .single-comic .video-p {
        opacity: 0;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
    }
    
    .arrival-wrapper .single-comic.active .video-p,
    .arrival-wrapper .single-comic:hover .video-p {
        opacity: 1;
    }
    
    .top-wrapper .top-r {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    
    .p-top-bar .top-l {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* height: 50px; */
    }
    
    .p-top-bar .top-l .breadcrumb {
        margin: 0rem;
    }
    
    .top-wrapper .top-r img {
        max-width: 35px;
        max-height: 55px;
        margin-right: 15px;
    }
    
    .top-l .search-p {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        max-width: 400px;
    }
    
    .top-l .search-p .form-control {
        height: 40px;
        border: 1px solid #FE3C3A;
        border-radius: 10px;
        position: relative;
        padding-left: 20px;
        color: #717171;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    
    .top-l .search-p .cmn-btn-red {
        height: 40px;
        background: #FE3C3A;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        color: #fff;
        border: 1px solid #FE3C3A;
    }
    
    .top-l .search-p .input-group-btn {
        position: absolute;
        right: 0px;
        z-index: 9;
    }
    
    .top-l .select-p>select.form-control {
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
    }
    /* price */
    
    .filter-wrapper {
        position: relative;
    }
    
    .price-field {
        position: relative;
        width: 100%;
        height: 36px;
        padding-top: 15px;
        border-radius: 3px;
    }
    
    .price-field input[type=range] {
        position: absolute;
    }
    /* Reset style for input range */
    
    .price-field input[type=range] {
        /* width: 188px; */
        width: 100%;
        height: 2px;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        border-radius: 5px;
        pointer-events: none;
    }
    
    .price-field input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    
    .price-field input[type=range]:active,
    .price-field input[type=range]:focus {
        outline: 0;
    }
    
    .price-field input[type=range]::-ms-track {
        width: 188px;
        height: 2px;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        border-radius: 5px;
        pointer-events: none;
        background: transparent;
        border-color: transparent;
        color: transparent;
        border-radius: 5px;
    }
    /* Style toddler input range */
    
    .price-field input[type=range]::-webkit-slider-thumb {
        /* WebKit/Blink */
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        border: 0;
        outline: 0;
        height: 15px;
        width: 2px;
        margin-top: -7px;
        background-color: #FE3C3A;
        cursor: pointer;
        pointer-events: all;
        z-index: 100;
    }
    
    .price-field input[type=range]::-moz-range-thumb {
        /* Firefox */
        position: relative;
        appearance: none;
        margin: 0;
        border: 0;
        outline: 0;
        height: 15px;
        width: 2px;
        margin-top: -7px;
        background-color: #FE3C3A;
        cursor: pointer;
        pointer-events: all;
        z-index: 100;
    }
    
    .price-field input[type=range]::-ms-thumb {
        /* IE */
        position: relative;
        appearance: none;
        margin: 0;
        border: 0;
        outline: 0;
        height: 15px;
        width: 2px;
        margin-top: -7px;
        background-color: #FE3C3A;
        cursor: pointer;
        pointer-events: all;
        z-index: 100;
    }
    /* Style track input range */
    
    .price-field input[type=range]::-webkit-slider-runnable-track {
        /* WebKit/Blink */
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #FE3C3A;
        border-radius: 5px;
    }
    
    .price-field input[type=range]::-moz-range-track {
        /*Firefox*/
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #FE3C3A;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .price-field input[type=range]::-ms-track {
        /* IE */
        width: 188px;
        height: 2px;
        cursor: pointer;
        background: #FE3C3A;
        border-radius: 5px;
    }
    /* Style for input value block */
    
    .price-wrap {
        display: flex;
        color: #000;
        margin-bottom: 7px;
        align-items: center;
    }
    
    .price-wrap-1,
    .price-wrap-2 {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    
    .price-wrap .filter-btn {
        margin-left: 7px;
    }
    
    .price-wrap_line {
        margin-left: 7px;
    }
    
    .price-wrap #one,
    .price-wrap #two {
        width: 0;
        margin: 0px;
    }
    
    .price-wrap label {
        font-size: 18px;
        line-height: 1.2em;
        font-weight: 500;
    }
    /* Style for active state input */
    
    .price-field input[type=range]:hover::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.5px #fff;
        transition-duration: 0.3s;
    }
    
    .price-field input[type=range]:active::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.5px #fff;
        transition-duration: 0.3s;
    }
    
    .price-title {
        color: #717171;
    }
    
    .select-p>select {
        border-bottom: 1px solid #FE3C3A;
        padding-bottom: 2px;
    }
    
    .product-wrappper .arrival-wrapper .single-comic .c-title {
        color: var(--s-primary-color);
    }
    
    .product-wrappper .arrival-wrapper .page-item {
        margin-right: 10px;
    }
    
    .product-wrappper .arrival-wrapper .page-item .page-link {
        color: var(--text-color);
        width: 40px;
    }
    
    .product-wrappper .arrival-wrapper .page-item .page-link.active {
        background: var(--s-primary-color);
        color: var(--white);
    }
    /* https: //codepen.io/sln/pen/bqzRMq */
    /* single comic */
    
    .comic-slider .single-comic {
        display: inline-block;
        border: 1px solid #DADADA;
    }
    
    .comic-slider .single-comic {
        display: inline-block;
        border: 1px solid #DADADA;
    }
    
    .comic-slider .single-comic.active,
    .comic-slider .single-comic:hover {
        border: 1px solid #FE3C3A;
        box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
    }
    
    .single-comic-page .slick-list.draggable {
        padding: 0px !important;
    }
    
    .comic-slider {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }
    
    .single-comic-page .slick-initialized .slick-slide {
        display: block;
        text-align: center;
    }
    /* Arrows */
    
    .single-comic-page .slick-prev,
    .single-comic-page .slick-next {
        position: absolute;
        top: 50%;
        display: block;
        text-align: center;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 25px;
        border: 2px solid #DADADA;
        box-sizing: border-box;
        border-radius: 4px;
        color: #DADADA;
        background: transparent;
        z-index: 1;
    }
    
    .single-comic-page .slick-prev {
        left: -25px;
    }
    
    .single-comic-page .slick-next {
        right: -25px;
    }
    /* .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
    
    .single-comic-page .slick-prev:hover,
    .single-comic-page .slick-prev:focus,
    .single-comic-page .slick-next:hover,
    .single-comic-page .slick-next:focus {
        color: var(--s-primary-color);
    }
    
    .single-comic-page .slick-prev:hover:before,
    .single-comic-page .slick-prev:focus:before,
    .single-comic-page .slick-next:hover:before,
    .single-comic-page .slick-next:focus:before {
        opacity: 1;
    }
    
    .single-comic-page .slick-slide img {
        display: inline-block;
    }
    
    .com-hr hr {
        background-color: var(--s-primary-color);
        opacity: 1;
        margin: 15px 0px;
    }
    
    .pro-description .nav-tabs {
        border-top: 1px solid #EFB731;
        border-bottom: 0px;
        justify-content: center;
    }
    
    .pro-description .nav-tabs .nav-link {
        margin-top: -3px;
        border: none;
        border-top: 4px solid transparent;
        border-radius: 0px;
        font-weight: 500;
        font-size: 18px;
        color: #000000;
    }
    
    .pro-description .nav-tabs .nav-item.show .nav-link,
    .pro-description .nav-tabs .nav-link.active {
        margin-top: -3px;
        background-color: transparent;
        color: var(--s-primary-color);
        border-top: 4px solid #EFB731;
    }
    
    .single-book-p .price-btn .yellow-btn,
    .single-book-p .price-btn .cmn-btn-red {
        padding: 8px 15px;
    }
    
    .review .grey-s i {
        font-size: 14px;
        margin-left: 5px;
    }
    
    .review .live-c {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .review .comment-box .form-control {
        color: #000000;
        border: 1px solid #EFB731;
        border-radius: 10px;
        font-size: 15px;
    }
    
    .review .comment-box .form-control::placeholder {
        color: #DADADA;
    }
    
    .review-items .star-icon i {
        margin-right: 5px;
    }
    
    .review-items p {
        color: var(--white);
    }
    
    .review-items {
        background: #FE3C3A;
        border-radius: 10px;
        padding: 15px;
        position: relative;
        margin-bottom: 25px;
    }
    
    .review-items.review-items-r:after,
    .review-items.review-items-l:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
    }
    
    .review-items.review-items-l:after {
        border-width: 40px 40px 0 0;
        border-color: #FE3C3A transparent transparent transparent;
        left: 0;
    }
    
    .review-items.review-items-r:after {
        border-width: 0 40px 40px 0;
        border-color: transparent #FE3C3A transparent transparent;
        right: 0;
    }
    
    .review-content {
        display: flex;
        align-items: end;
        justify-content: end;
        position: relative;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .review-img {
        flex-basis: 300px;
        max-width: 300px;
        text-align: center;
        position: relative;
        bottom: -50px;
    }
    
    .review-img>img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .review-img>p {
        font-size: 14px;
    }
    /* movie */
    
    .new-spot .card {
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px 0px #00000033;
    }
    
    .new-spot .card-header {
        display: flex;
        justify-content: space-between;
        background: var(--s-primary-color);
    }
    
    .new-spot .card-header .c-title {
        color: #FFFFFF;
    }
    
    .new-spot .card .list-group-item {
        padding: 1rem;
        border-bottom: 1px solid #EFB731;
    }
    
    .new-spot .trailer-content.active .c-title {
        color: #EFB731;
    }
    
    .new-spot .trailer-content.active .t-lock i {
        color: var(--s-primary-color);
    }
    
    .new-spot .trailer-img {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .new-spot .trailer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* about us */
    
    .about-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 60px;
        color: #FE3C3A;
        position: relative;
        border-bottom: 4px solid #231F20;
        display: inline-block;
    }
    
    .about-title::before {
        content: '';
        position: absolute;
        left: -20px;
        top: -15px;
        width: 80px;
        height: 80px;
        background: rgba(255, 232, 32, 0.19);
        border-radius: 50%;
    }
    
    .count-area .count-num h4 {
        font-weight: 400;
        font-size: 40px;
        line-height: 60px;
        color: #FFFFFF;
    }
    
    .count-area .count-num p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }
    
    .count-area .single-text {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    
    .count-banner {
        position: relative;
    }
    
    .count-banner .cunt-l {
        position: absolute;
        bottom: -50%;
    }
    
    .count-banner .cunt-r {
        position: absolute;
        right: 0;
        top: -15%;
    }
    
    .best-area {
        position: relative;
    }
    
    .best-area .movie-acs {
        position: absolute;
        top: 5%;
        z-index: -1;
        display: inline-block;
        width: 100%;
    }
    
    .best-area .movie-acs img {
        width: 100%;
        display: inline-block;
    }
    /* Product cart */
    
    .product-cart .new-spot .card-header {
        background: transparent;
        border-bottom: 2px solid #DADADA;
        position: relative;
        padding: 0;
        padding-bottom: 15px;
    }
    
    .product-cart .new-spot .card-header::before {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -2px;
        width: 20%;
        height: 2px;
        background: #FE3C3A;
    }
    
    .product-cart .new-spot .card .list-group-item {
        padding: 1.3rem 0px;
        border-bottom: 2px solid #DADADA;
    }
    
    .product-cart .list-group-flush>.list-group-item:last-child {
        border-bottom-width: 0;
        border-bottom: none;
    }
    
    .product-cart .new-spot .trailer-img {
        max-width: 400px;
    }
    
    .product-cart {
        padding: 30px 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px 0px #00000033;
    }
    
    .product-cart .new-spot .card {
        background: transparent;
        box-shadow: none;
    }
    
    .product-cart .new-spot .card .buy-btn .cmn-btn-red {
        padding: 10px 20px;
    }
    
    .product-cart .new-spot .trailer-img img {
        width: 76px;
        height: 108px;
    }
    
    .product-cart .new-spot .t-delete {
        background: transparent;
        padding: 0px;
    }
    
    .process .price-r .pr-title h5 {
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }
    
    .process .price-r .pr-title {
        width: 250px;
        max-width: 250px;
    }
    
    .process .price-r {
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }
    
    .process .terms input:checked+label {
        color: initial;
    }
    
    .process .terms label a {
        color: #E81A21;
    }
    
    .process .terms label br {
        display: none;
    }
    /* review-page */
    
    .review-page .review-content-n .single-comic {
        padding: 15px;
    }

    /* index 2 */
    .hard-copy-btn {
        display: inline-block;
        position: absolute;
        right: -4%;
        top: -10px;
    }

    .hard-copy-btn  .cmn-btn-red {
        font-size: 14px;
        padding: 6px 12px;
        border-radius: 4px;

    }

    .author-name .t-16{
        color: #717171;
    }
.quantityitem{
    margin-bottom: 10px;
}

    .spinNumber{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-left: 15px;
    }
   .book-select  .terms label{
        margin-top: 0;
    }
    .spinNumber .incrimentButton,
    .spinNumber .decrimentButton{
         width: 40px;
         height: 40px;
         text-align: center;
         background: #c6f5f53b;
         line-height: 40px;
         cursor: pointer;
         border-radius: 0px 4px 4px 0px;
        background: #B1B8BE;
     }
    
      .spinNumber .incrimentButton{
        border-radius: 4px 0px 0px 4px;
     }
    .spinNumber input{
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #231F20;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
         background: #fff;
         text-align: center;
 
     }

 
     .f-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        color: #212529;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 6px;
        border: 1px solid #8692A6;
    }

   .size-wrapper .spinNumber {
        justify-content: left;
        gap: 5px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .size-wrapper ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 12px -9px 12px 0;
    }
    .size-item {
  
        padding: 0 10px 10px 0;

        min-width: 60px;
        margin-bottom: 0;
    }
    
    
    .size-btn:focus, .size-btn:hover{
        border-color: #FE3C3A;
        color: #FE3C3A;
    }
    .size-btn {
        width: 100%;
        background: #fff;
        border: 2px solid #B1B8BE;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 5px;
        display: block;
        text-align: center;
        word-wrap: break-word;
        border-radius: 4px;
    }
    